.contacto{
    margin: 4em auto;
    padding: 2em 1.5em;
}
.titulo h2{
    text-align: center;
}
.contenido{
    margin-top: 1.6em;
}
.inputs button{
    padding: .8em 0;
    margin-top: 1.5em;
}
.seccion p{
    margin-bottom: 0;
}