.hero{
    background-image: url('../img/espacio.jpg');
    /* background-color: rgb(36, 33, 29); */
    width: 100%;
    min-height: 60vh;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentacion{
    margin-top: auto;
}
.iconos{
    font-size: 1.8rem;
    margin-top: auto;
    padding-bottom: 2em;
}
.iconos i{
    margin: 0 1.2em;
}