.hero {
  background-image: url("../img/espacio.jpg");
  /* background-color: rgb(36, 33, 29); */
  /* width: 100%; */
  min-height: 100vh;
  color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.presentacion {
  margin-top: auto;
}
.titulo-presentacion{
  margin-top: 1.5em;
}
.titulo-presentacion button{
  width: 100%;
  font-size: 1.2rem;
  padding: 1em 0;
  margin-top: 1em;
  margin-bottom: 1.5em;
  border: 3px solid aliceblue;
  border-radius: .8em;
  background-color: rgb(163, 73, 179);
  cursor: pointer;
  color: aliceblue;
  transition: .5s;
}
.titulo-presentacion button:hover{
  color: rgb(163, 73, 179);
  background-color: aliceblue;
}
.iconos {
  max-width: 1320px;
  font-size: 2rem; 
  margin-top: auto;
  padding-bottom: 2em;
}
/* .redes{
  margin: auto .4em;
} */
.iconos a {
  /* width: inherit; */
  height: 140px;
  background: rgb(61, 167, 206);
  border-radius: 0.5em;
  margin: 0.5em 1em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos i {
  transition: 0.5s;
  color: rgb(163, 73, 179);
  position: absolute;
}
.iconos h2 {
  opacity: 0;
  transition: 0.5s;
  top: 0;
  position: absolute;
  color: rgb(177, 86, 193);
}

.iconos a:hover {
  box-shadow: -3px 7px 64px -10px rgb(124, 162, 203);
}
.iconos a:hover h2 {
  top: 40px;
  opacity: 1;
}
.iconos a:hover i {
  top: 60px;
  opacity: 0.2;
  right: 70px;
  font-size: 120px;
}

/* @media (min-width: 576px){
  .iconos a{
    max-width: 100%;
  }
} */

@media (min-width: 768px){
  .iconos a{
    /* width: 140px; */
    padding: 1em;
  }
}

@media (min-width: 992px){
  .iconos a{
    width: 200px;
  }
}
