.proyectos-recientes{
    margin-top: 11rem;
}
.proyectos-recientes img{
    width: 100%;
    height: 350px;
    display: block;
}
.proyecto{
    position: relative;
    margin: 1em;
}
.proyectos-contenedor{
    padding: 2em;
}
.overlay{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay p{
    padding: 1em;
    color: aliceblue;
    font-size: 1.6rem;
    font-weight: bold;
    /* margin-top: 50%; */
}

.proyecto:hover .overlay{
    height: 100%;
}

/* .iconos-proyectos{
    display: flex;
    justify-content: center;
} */
.overlay i{
    color: aliceblue;
    font-size: 1.8rem;
    margin: 1em;
}