*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sobre-mi {
  margin-top: 8.5rem;
  /* margin: 6em auto; */
  /* padding: 2em 1.5em; */
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info .texto {
  font-size: 1.2rem;
}
.foto img {
  width: 280px;
}
